<launch>
	<!-- Kinect cloud to laser scan -->

	<group ns="rtabmap">
		<!-- SLAM -->
		<node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" output="screen">
			<param name="frame_id" type="string" value="base_footprint"/>
			<param name="wait_for_transform" type="bool" value="true"/>
			<remap from="odom" to="/odom"/>

			<remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>
			<remap from="rgb/image" to="/camera/rgb/image_rect_color"/>
			<param name="rgb/image_transport" type="string" value="compressed"/>

			<param name="subscribe_depth" type="bool" value="true"/>
			<remap from="depth/image" to="/camera/depth_registered/hw_registered/image_rect_raw"/>
			<param name="depth/image_transport" type="string" value="compressedDepth"/>

			<param name="subscribe_laserScan" type="bool" value="true"/>
			<remap from="scan" to="/scan"/>
		</node>
	</group>
</launch>
