<launch>
	<arg name="ds4_dev" default="/dev/input/js0"/>

	<group ns="ds4_teleop">
		<node pkg="joy" type="joy_node" name="joy_driver">
			<param name="dev" type="string" value="$(arg ds4_dev)"/>
		</node>

		<node pkg="carryitcart_system" type="ds4_teleop.py" name="ds4_teleop" output="screen">
			<remap from="cmd_vel" to="/cmd_vel_mux/input/teleop"/>
		</node>
	</group>
</launch>