<launch>
	<node pkg="robot_localization" type="ukf_localization_node" name="odom_ukf" output="screen">
		<param name="frequency" value="50.0"/>
		<param name="sensor_timeout" value="0.03"/>
		<param name="two_d_mode" value="true"/>

		<param name="map_frame" value="map"/>
		<param name="odom_frame" value="odom"/>
		<param name="base_link_frame" value="base_link"/>
		<param name="world_frame" value="odom"/>

		<param name="odom0" value="nav_msgs/Odometry"/>
		<param name="imu0" value="sensor_msgs/Imu"/>

		<!-- 
			robot_localization sensor data config:
			[X, Y, Z,
			R, P, Y,
			vX, vY, vZ,
			wR, wP, wY,
			aX, aY, aZ]
		-->
		<rosparam param="odom0_config">[false, false, false, 
		                                false, false, false, 
		                                true, false, false, 
		                                false, false, true,
		                                false, false, false]
		</rosparam>

	</node>
</launch>